*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

/* Global style */

.container{
    max-width: 1600px;
}

.btn {
    width: auto;
    height: 44px;
    padding: 12px 16px;
    background: #2f855a;
    font-family: sans-serif;
    color: #ffff;
    border-radius: 4px;
}



 /* Top Navigation Start */

.header{
    width: 1600px;
    height: 92px;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #ffff;
    
}
.header .top-nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;
    


} 
.header .top-nav .logo{
    width: 139px;
    height: 60px;
}


.header .top-nav .nav ul a{
    text-decoration: none;
    color: black;
}

.header .top-nav .btn a{
    text-decoration: none;
    color: #ffff;

}

/* Top Navigation End */


  /*  main conteiner Start */

    /* Hero Section Start */
   .hero{
        width: 1600px;
        height: 674px;
        background-image: url("../images/hero-bg.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 70px;
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 134px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

 .hero .hero-container{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    max-width: 1600px;
    margin: 0 auto;
    


    }

.hero .hero-container .badge{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffff;
        border-radius: 1000px;
        padding: 6px 12px;
        width: 229px;
        height: 35px;
     }

.hero .hero-container .badge img{
        justify-content: center;
        align-items: center;
}

.hero .hero-container .badge a{
    text-decoration: none;
    color: black;
    text-align: justify;
}
.hero .hero-container h1{
    text-align: center;
    font-weight: bold;
    font-size: 72px;
    line-height: 84px;
    color: #ffff;
}
.hero .hero-container h1 span{
    color: #30B868;
}


.hero .hero-container p{
    text-align: center;
    line-height: 24px;
    color: #ffff;
    font-size: 18px;
    font-weight: 200;
}

.hero .hero-container .hero-btn{
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.hero .hero-container .hero-btn .fill-btn{
    width: auto;
    height: 44px;
    padding: 12px 16px;
    background: #2f855a;
    font-family: sans-serif;
    color: #ffff;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    column-gap: 16px;

}
.hero .hero-container .hero-btn .fill-btn a{
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}


.hero .hero-container .hero-btn .outline-btn{
    width: auto;
    height: 44px;
    padding: 12px 16px;
    border-color: #ffff;
    font-family: sans-serif;
    color: #ffff;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    border-style: solid;
    border-width: 1px;

}
.hero .hero-container .hero-btn .outline-btn a{
    text-decoration: none;
    color: #ffff;
    font-size: 16px;
}
    /* Hero Section End */




/* Services Section Start */

.services-home{
   max-width: 1600px;
   justify-self: center;
}

.services-home .services-wrapper{
    width: 1360px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
    box-sizing: border-box;
}
.services-home .services-wrapper .title h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    color: black;
}

.services-home .services-wrapper .title p{
    text-align: center;
    font-size: 16px;
    font-weight: 200;
    line-height: auto;
    color: black;
}

.services-home .services-wrapper .services-card{
    padding-top: 44px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin: 0;
}

.services-home .services-wrapper .services-card .card{
    
    display: flex;            
    flex-direction: column;    
    justify-content: center;  
    align-items: center;                              
    border-radius: 12px;   
    width: 332px;
    height: 300px;
    box-sizing: border-box;
    padding: 24px; 
    gap: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.services-home .services-wrapper .services-card .card img{
    background-color: red;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 1000px;
    align-items: center;
}

.services-home .services-wrapper .services-card .card h3{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: auto;
    color: black;
}

.services-home .services-wrapper .services-card .card p{
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: black;
}
/* Services Section End */


/* About Section Start */

.about{
    max-width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 120px;
}

.about .about-wrapper{
    width: 1360px;
    display: flex;
    margin: 0px auto;
    justify-content: center;
    box-sizing: border-box;
    column-gap: 60px;
    gap: 16px;
}

.about .about-wrapper .left-col{
   
}
.about .about-wrapper .right-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;

}
.about .about-wrapper .left-col img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.about .about-wrapper .right-col h4{
    font-family: sans-serif;
    font-size: 16px;
    color: #30B868;
    text-align: left;
}

.about .about-wrapper .right-col h2{
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: auto;
    color: #000000;
    text-align: left;
}

.about .about-wrapper .right-col p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: auto;
    color: #000000;
    text-align: left;
}

.about .about-wrapper .right-col ul li{
    list-style: none;
    align-items: left;
    gap: 16px;
    padding: 8px;
    font-size: 16px;
}

.about .about-wrapper .right-col ul{
   padding-top: 40px;
}


/* About Section End */


/* CTA Section Start */

 .home-cta{
    max-width: 1600px;
    height: 506px;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 120px;
    margin: 0px auto;
 }

.home-cta .cta-wrapper{
    max-width: 1360px;
    box-sizing: border-box;
    padding: 80px 40px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    background-color: #F7F6F2;
    margin: 0px auto;
    
}

.home-cta .cta-wrapper h2{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.home-cta .cta-wrapper p{
    text-align: center;
    font-size: 16px;
}

.home-cta .cta-wrapper .h-cta-btn{
    max-width: 194px;
    height: 44px;
    padding: 12px 16px;
    background: #2f855a;
    font-family: sans-serif;
    color: #ffff;
    border-radius: 4px;
    justify-content: center;
}
.home-cta .cta-wrapper .h-cta-btn a{
    text-decoration: none;
    color: #ffff;
}
.home-cta .cta-wrapper .dot{
    font-size: 8px;
}


/* CTA Section Start */


/* Foorter Section Start */
    .footer{
        max-width: 1600px;
        height: 348px;
        background-color: #001931;
        margin: 0 auto;
        padding-left: 120px;
        padding-bottom: 30px;
        padding-right: 120px;
        padding-top: 120px;
    }

.footer .footer-wrapper{
    max-width: 1360px;
    margin: 0 auto;

}

.footer .footer-wrapper .f-header{
    display: flex;
    justify-content: space-between;

}
.footer .footer-wrapper .f-header .f-social{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.footer .footer-wrapper .f-header .f-social h5{
    color: #ffff;
    text-align: center;
}
.footer .footer-wrapper .f-header .f-social .f-s-i i{
    column-gap: 26px;
    padding: ;
    background-color: white;
    box-sizing: border-box;
    
    font-size: 16px;
    
}

.footer .footer-wrapper .copyright p{
    text-align: center;
    color: #ffff;
    box-sizing: border-box;
    padding-top: 24px;
}

/* Foorter Section End */
